In [2]:
import numpy as np
import pandas as pd
import math

In [3]:
# Obtain results from all experiments

# df = pd.read_csv('qpe-project/data/all-experiments.csv')
# df.set_index('id')
# df.insert(5, 'Nodes', None)
# df['Nodes'] = df['Total executor cores'] // df['Cores per executor']

# Obtain results from already filtered experiments
df = pd.read_csv('qpe-project/data/filtered-exploration-experiments.csv')

In [4]:
# Filter all failed experiments
df = df[pd.isnull(df['Note'])]
df['Wall clock'] = df['Wall clock'].apply(lambda x: float('nan') if x == '0' else float(x[:-1]))

### Exploration experiments analysis

In [5]:
# Sign table return config for: Total nodes, Cores per node, Batch size, Model
def sign_table(sign):
    v = [0, 0, 0, 0]
    v[0] = 1 if sign[0] == -1 else 4
    v[1] = 1 if sign[1] == -1 else 4
    v[2] = 64 if sign[2] == -1 else 256
    v[3] = "lenet5" if sign[3] == -1 else "bi-rnn"
    print('Config: ' + str(v))
    return v

# Returns the subset of experiments with the corresponding configuration
def get_experiment(config):
    return df[(df['Nodes'] == config[0]) & (df['Model'] == config[3]) & (df['Cores per executor'] == config[1]) & (df['Batch size'] == config[2])]

In [6]:
# Experiment 1
config = sign_table([-1, -1, -1, -1])
experiment1 = get_experiment(config)
exploration = experiment1
exploration

Config: [1, 1, 64, 'lenet5']

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
0,31,64,2G,1,1,1,lenet5,327.521836,00:01:35,00:07:50,NaN
1,32,64,2G,1,1,1,lenet5,325.779317,00:07:53,00:14:40,NaN
2,33,64,2G,1,1,1,lenet5,319.521097,00:14:43,00:20:55,NaN
3,34,64,2G,1,1,1,lenet5,319.640251,00:20:59,00:27:10,NaN

In [7]:
# Experiment 2
config = sign_table([1, -1, -1, 1])
experiment2 = get_experiment(config)
exploration = pd.concat([exploration, experiment2], axis=0)

Config: [4, 1, 64, 'bi-rnn']

In [8]:
# Experiment 3
config = sign_table([-1, 1, -1, 1])
experiment3 = get_experiment(config)
exploration = pd.concat([exploration, experiment3], axis=0)

Config: [1, 4, 64, 'bi-rnn']

In [9]:
# Experiment 4
config = sign_table([1, 1, -1, -1])
experiment4 = get_experiment(config)
exploration = pd.concat([exploration, experiment4], axis=0)
#16 total cores, 4 cores per node, 64 batch size, lenet5, 2G mem

Config: [4, 4, 64, 'lenet5']

In [10]:
# Experiment 5
config = sign_table([-1, -1, 1, 1])
experiment5 = get_experiment(config)
exploration = pd.concat([exploration, experiment5], axis=0)

Config: [1, 1, 256, 'bi-rnn']

In [11]:
# Experiment 6
config = sign_table([1, -1, 1, -1])
experiment6 = get_experiment(config)
exploration = pd.concat([exploration, experiment6], axis=0)

Config: [4, 1, 256, 'lenet5']

In [12]:
# Experiment 7
config = sign_table([-1, 1, 1, -1])
experiment7 = get_experiment(config)
exploration = pd.concat([exploration, experiment7], axis=0)

Config: [1, 4, 256, 'lenet5']

In [13]:
# Experiment 8
config = sign_table([1, 1, 1, 1])
experiment8 = get_experiment(config)
exploration = pd.concat([exploration, experiment8], axis=0)
#16 total cores, 4 cores per node, 256 batch size, bi-rnn, 2G mem

Config: [4, 4, 256, 'bi-rnn']

In [15]:
t = experiment1[experiment1['Memory per executor'] == '2G']
# y1
y1 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
0,31,64,2G,1,1,1,lenet5,327.521836,00:01:35,00:07:50,NaN
1,32,64,2G,1,1,1,lenet5,325.779317,00:07:53,00:14:40,NaN
2,33,64,2G,1,1,1,lenet5,319.521097,00:14:43,00:20:55,NaN
3,34,64,2G,1,1,1,lenet5,319.640251,00:20:59,00:27:10,NaN

In [16]:
t = experiment2[experiment2['Memory per executor'] == '2G']
# y2
y2 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
4,160,64,2G,1,4,4,bi-rnn,1160.792168,20:03:18,20:46:56,NaN
5,161,64,2G,1,4,4,bi-rnn,1185.705722,20:47:00,21:44:06,NaN
6,163,64,2G,1,4,4,bi-rnn,1082.267651,22:08:42,22:38:30,NaN

In [17]:
t = experiment3
# y3
y3 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
7,284,64,2G,4,4,1,bi-rnn,448.016374,13:49:26,13:57:25,NaN
8,285,64,2G,4,4,1,bi-rnn,447.684632,13:57:28,14:05:21,NaN
9,286,64,2G,4,4,1,bi-rnn,439.270671,14:05:25,14:13:10,NaN
10,287,64,2G,4,4,1,bi-rnn,448.244983,14:13:13,14:21:07,NaN

In [18]:
t = experiment4
# y4
y4 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
11,61,64,2G,4,16,4,lenet5,496.975526,18:42:29,18:51:08,NaN
12,62,64,2G,4,16,4,lenet5,491.383628,18:51:12,18:59:46,NaN
13,63,64,2G,4,16,4,lenet5,487.011198,18:59:50,19:08:20,NaN
14,64,64,2G,4,16,4,lenet5,487.210052,19:08:24,19:16:55,NaN

In [19]:
t = experiment5
# y5
y5 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
15,249,256,2G,1,1,1,bi-rnn,2343.000000,18:40:26,19:19:29,NaN
16,250,256,2G,1,1,1,bi-rnn,2011.000000,19:19:33,19:53:04,NaN
17,251,256,2G,1,1,1,bi-rnn,1976.653225,19:53:07,20:27:37,NaN
18,252,256,2G,1,1,1,bi-rnn,1919.602948,20:27:41,21:00:32,NaN

In [20]:
t = experiment6
# y6
y6 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
19,80,256,2G,1,4,4,lenet5,97.937506,17:55:46,17:57:53,NaN
20,81,256,2G,1,4,4,lenet5,104.362405,17:57:56,18:00:08,NaN
21,82,256,2G,1,4,4,lenet5,98.245546,18:00:12,18:02:17,NaN
22,83,256,2G,1,4,4,lenet5,96.812719,18:02:21,18:04:23,NaN

In [21]:
t = experiment7[experiment7['Memory per executor'] == '2G']
# y7
y7 = t['Wall clock'].mean()
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
23,174,256,2G,4,4,1,lenet5,86.312304,07:04:51,07:06:38,NaN
24,175,256,2G,4,4,1,lenet5,88.912040,07:06:42,07:08:32,NaN
25,176,256,2G,4,4,1,lenet5,87.395551,07:08:35,07:10:23,NaN
26,177,256,2G,4,4,1,lenet5,87.644849,07:10:26,07:12:15,NaN
27,178,256,2G,4,4,1,lenet5,88.741586,07:12:18,07:14:08,NaN

In [22]:
t = experiment8
# y8
y8 = t['Wall clock'].mean()
((experiment8['Wall clock'] - y8)**2)
t

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
28,90,256,2G,4,16,4,bi-rnn,148.628588,20:25:29,20:28:19,NaN
29,91,256,2G,4,16,4,bi-rnn,151.509548,20:28:23,20:31:17,NaN
30,92,256,2G,4,16,4,bi-rnn,150.103488,20:31:20,20:34:14,NaN
31,93,256,2G,4,16,4,bi-rnn,151.529120,20:34:17,20:37:11,NaN
32,94,256,2G,4,16,4,bi-rnn,149.808149,20:37:14,20:40:07,NaN

In [23]:
y1, y2, y3,y4,y5,y6,y7,y8

(323.115625252,
 1142.9218471683334,
 445.8041653065,
 490.64510090375,
 2062.56404323825,
 99.33954402575,
 87.80126602739999,
 150.31577844420002)

In [24]:
# Sum of squares differences for the response time
ex = [experiment1, experiment2, experiment3,experiment4,experiment5,experiment6,experiment7,experiment8]
[((e['Wall clock'] - e['Wall clock'].mean())**2).sum() for e in ex]

[51.5088001585849,
 5828.739847946132,
 57.07416937112021,
 65.62450861839153,
 109121.71980481752,
 34.77651482124285,
 4.524098164392572,
 6.046650606020362]

In [25]:
experiment2

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
4,160,64,2G,1,4,4,bi-rnn,1160.792168,20:03:18,20:46:56,NaN
5,161,64,2G,1,4,4,bi-rnn,1185.705722,20:47:00,21:44:06,NaN
6,163,64,2G,1,4,4,bi-rnn,1082.267651,22:08:42,22:38:30,NaN

In [26]:
experiment5

,id,Batch size,Memory per executor,Cores per executor,Total executor cores,Nodes,Model,Wall clock,Start log,End log,Note
15,249,256,2G,1,1,1,bi-rnn,2343.000000,18:40:26,19:19:29,NaN
16,250,256,2G,1,1,1,bi-rnn,2011.000000,19:19:33,19:53:04,NaN
17,251,256,2G,1,1,1,bi-rnn,1976.653225,19:53:07,20:27:37,NaN
18,252,256,2G,1,1,1,bi-rnn,1919.602948,20:27:41,21:00:32,NaN

In [27]:
experiment5['Wall clock']

15    2343.000000
16    2011.000000
17    1976.653225
18    1919.602948
Name: Wall clock, dtype: float64

In [29]:
# Sign table
                  # N    C    B    NC   CB    NB   M
table = np.array([[-1., -1., -1.,  1.,  1.,  1., -1.],
                 [ 1., -1., -1., -1., -1.,  1.,  1.],
                 [-1.,  1., -1., -1.,  1., -1.,  1.],
                 [ 1.,  1., -1.,  1., -1., -1., -1.],
                 [-1., -1.,  1.,  1., -1., -1.,  1.],
                 [ 1., -1.,  1., -1.,  1., -1., -1.],
                 [-1.,  1.,  1., -1., -1.,  1., -1.],
                 [ 1.,  1.,  1.,  1.,  1.,  1.,  1.]])

In [30]:
y = np.array([y1,y2,y3,y4,y5,y6,y7,y8])

In [31]:
q0 = y.mean()
q0

600.313421295773

In [35]:
# Derive the quantified effects for each factor in the experiment
quant = [sum((table[:,i] * y))/len(y) for i in range(7)]

In [36]:
quant
# N = CBM
# C = NBM
# B = NCM
# NC = BM
# CB = NM
# NB = CM
# M = NCB

qN = quant[0]
qC = quant[1]
qB = quant[2]
qNC = quant[3]
qCB = quant[4]
qNB = quant[5]
qM = quant[6]

# I = NCBM

In [50]:
# Compute all the sums of squares for each factor

In [51]:
SSY = (exploration['Wall clock']**2).sum()
SSY

23417166.352801148

In [52]:
SS0 = 8*3*(q0**2)
SS0

8649028.890908068

In [53]:
SST = SSY - SS0
SST

14768137.46189308

In [54]:
SSN = 8*3*(qN**2)
SSN

402534.8198325243

In [55]:
SSC = 8*3*(qC**2)
SSC

2257142.872141124

In [56]:
SSB = 8*3*(qB**2)
SSB

2.2806312065560093

In [57]:
SSNC = 8*3*(qNC**2)
SSNC

586663.0919723992

In [58]:
SSCB = 8*3*(qCB**2)
SSCB

2867700.0508433976

In [59]:
SSNB = 8*3*(qNB**2)
SSNB

728920.875648337

In [60]:
SSM = 8*3*(qM**2)
SSM

2941479.2117049564

In [61]:
SSE = SSY - 8*3*(q0**2 + qN**2 + qC**2 + qB**2 + qNC**2 + qCB**2 + qNB**2 + qM**2)
SSE

4983694.259119134